views/index.pug
extends layout

block content  
  include nav.pug
  div.container
    div.col-md-5.col-md-offset-3.card.mt-5
      div.card-body
        form(action='/metrics', method="post")
          .form-group
            label Timestamp
            input.form-control#date(type="text" name="timestamp" required)
          .form-group
            label Value
            input.form-control#value(type='text', name="value" pattern="^[0-9]{1,}" required)
          button#add-metric(type="submit" class="btn btn-warning") Add the metrics

  script
    :coffee-script
      $('#date').datepicker({
        format: "yyyy-mm-dd"
      })

public/html/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Web Page</title>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/index.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a class="navbar-brand" href="#">Navbar</a>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>      
          <li class="nav-item"><a class="nav-link" href="#">Features</a></li>      
          <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>      
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        </ul>    
        <form class="form-inline my-2 my-lg-0"><a class="my-2 my-sm-0" href="/logout">Logout</a></form>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <p></p>
        <button class="btn btn-success" id="show-metrics" type="button">Bring the metrics</button>
        <div id="metrics"></div>
      </div>
      <div class="col-md-5 col-md-offset-3 card mt-5">
        <div class="card-body">
          <form action="/metrics" method="post">
            <div class="form-group">
              <label>Timestamp</label>
              <input class="form-control" type="text" name="timestamp" placeholder="yyyy-mm-dd hh:mm">
            </div>
            <div class="form-group">
              <label>Value</label>
              <input class="form-control" type="text" name="value">
            </div>
            <button class="btn btn-warning" id="add-metric" type="submit">Add the metrics</button>
          </form>
        </div>
      </div>
    </div>
    <script>
       (function() {
  $('#show-metrics').click(function(e) {
    var hide;
    e.preventDefault();
    hide = false;
    if (!hide) {
      $.getJSON("/metrics/", {}, function(data) {
        var content, d, i, len;
        content = "<ul>";
        for (i = 0, len = data.length; i < len; i++) {
          d = data[i];
          content += "<li>timestamp: " + d.key + ", value: " + d.value + "</li>";
        }
        content += "</ul>";
        return $('#metrics').append(content);
      });
      return hide = !hide;
    } else {
      return $('#metrics').html = "";
    }
  });

}).call(this);

    </script>
  </body>
</html>
