views/signup.pug
extends layout

block content
  link(rel='stylesheet', href='/css/home_connection.css')
  div.container
    div.row.justify-content-center.mt-5
      div.col-xs-6.card#connection
        div.card-body
          #form
            h3.text-center Create an account
            form#login(action='/signup', method="post")
              .form-group
                label Username
                input.form-control(type='text', name="username")
              .form-group
                label Password
                input.form-control(type='password', name="password")
              button#login_submit.btn.btn-primary.btn-block(type='submit')
                i.icon-ok.icon-white
                |  Create an account
              hr
              a.btn.btn-success.btn-block(role='button', href='/login') Connect

public/html/signup.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Web Page</title>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/index.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  </head>
  <body>
    <link rel="stylesheet" href="/css/home_connection.css">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-xs-6 card" id="connection">
          <div class="card-body">
            <div id="form">
              <h3 class="text-center">Create an account</h3>
              <form id="login" action="/signup" method="post">
                <div class="form-group">
                  <label>Username</label>
                  <input class="form-control" type="text" name="username">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" type="password" name="password">
                </div>
                <button class="btn btn-primary btn-block" id="login_submit" type="submit"><i class="icon-ok icon-white"></i> Create an account</button>
                <hr>
                <button class="btn btn-success btn-block" type="button" href="/login">Connect</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
